body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 10px;
}

nav {
    display: flex;
}

#nav-left {

}

#nav-right {
    display: flex;
    right: 0;
}

.sign-in {
    background: #4285f4;
    border: 1px solid #4285f4;
    font-weight: bold;
    color: #fff;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 3px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 20px;
}

#main-top {

}


#logo {
    display: block;
    margin: auto;
    padding: 109px 0 20px 0;
}




footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color:#f2f2f2;
    padding: 20px;
}

#footer-country {
    font-size: 15px;
}

#footer-left {
    float: left;
}

#footer-center: {
    float: left;
}

#footer-right {
    float: right;
}

#searchform {
    max-width: 584px;
    min-width: 484px;
    margin: auto;
}

#searchbar {
    display: flex;
    height: 44px;
    margin: auto;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

#search-icon {
    height: 20px;
    width: 20px;
    color: #9aa0a6;
    margin: auto 0 auto 14px;
}

#search {
    height: 90%;
    border: none;
    flex: 100%;
}

#search:focus  {
    outline: none;
}

.speech  {
    height: 20px;
    margin: 12px;
}

#submit-buttons {
    display: flex;
    justify-content: center;
    padding: 18px 0 0 0;
}

.submit {
    border: none;
    background: #F8F9FA;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 34px;
}

.submit:hover {
    color: #202124;
    border: 1px solid #dadce0;
    background: #f8f9fa;
    box-shadow: 0 1px 1px #0000001a; 
}


